XTerm*Background: black
XTerm*Foreground: white
xterm*renderFont: true
XTerm*faceName: Ubuntu Mono:style=Bold
xterm*faceSize: 20
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm.vt100.scrollBar: true
XTerm.vt100.scrollbar.width: 8
