
! xterm settings
xterm*faceName: Ubuntu Mono
xterm*faceSize: 14
xterm*renderFont: true

! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 12
! VT font menu: Medium
xterm*faceSize3: 16
! VT font menu: Large
xterm*faceSize4: 18
! VT font menu: Huge
xterm*faceSize5: 22